{% for h in ansible_play_hosts %}
{% if setup_etc_hosts_domain is defined %}
{% set hostname %}{{ h }}.{{ setup_etc_hosts_domain }}{% endset %}
{% else %}
{% set hostname %}{{ h }} {{ hostvars[h].ansible_fqdn }}{% endset %}
{% endif %}
{% if pacemaker_iface is defined %}
{{ hostvars[h]['ansible_'+pacemaker_iface].ipv4.address }} {{ hostname }} # {{ pacemaker_iface }}
{% else %}
{{ hostvars[h].ansible_default_ipv4.address }} {{ hostname }}
{% endif %}
{% endfor %}