{% for h in ansible_play_hosts %}
{% if pacemaker_iface is defined %}
{{ hostvars[h]['ansible_'+pacemaker_iface].ipv4.address }} {{ h }} {{ hostvars[h].ansible_fqdn }} # {{ pacemaker_iface }}
{% else %}
{{ hostvars[h].ansible_default_ipv4.address }} {{ h }} {{ hostvars[h].ansible_fqdn }}
{% endif %}
{% endfor %}